@page
@model IndexModel
@{
    ViewData["Title"] = ".NET Community Standups";
}


<div class="jumbotron">
    <div class="next-episode text-center">
        @if (Model.IsOnAir)
        {
            <h2>On AIR!</h2>
            <div class="container-fluid">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" src="@($"https://www.youtube.com/embed/{Model.OnAirShow.Id}?rel=0")" allowfullscreen></iframe>
                </div>
                <center>
                    <h4>Chat with the team on:</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col align-middle text-right">
                                <a href="@($"https://www.youtube.com/{Model.OnAirShow.Id}?rel=0")"><img height="30" src="~/images/youtube.png" /></a>
                            </div>
                            <div class="col align-middle text-left">
                                <a href="https://twitch.tv/VisualStudio"><img height="30" src="~/images/twitch.svg" /></a>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        }
        else if (Model.HasUpcomingShow)
        {
            var startTime = Model.UpcomingShow.ScheduledStartTime;
            <div id="nextShowDetails"
                 data-utc-year="@startTime.Year"
                 data-utc-month="@(startTime.Month-1)"
                 data-utc-day="@startTime.Day"
                 data-utc-hour="@startTime.Hour"
                 data-utc-min="@startTime.Minute">
                <h2>Next Episode Streaming Live on</h2>
                <h2>
                    <strong data-part="showTime" class="hidden">
                        @startTime.ToString("u")
                    </strong>
                </h2>
                <h2>
                    <span data-part="countdown">&nbsp;</span>
                </h2>
            </div>
            @*<div class="btn-group">
                    <button id="addToCalendar" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to calendar <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="addToCalendar">
                        <li><a asp-action="GetiCal" asp-protocol="https">Download iCalendar (ICS) file</a></li>
                        <li><a asp-action="GetiCal" asp-protocol="webcals">Add using webcal</a></li>
                        <li><a href="@Model.AddToGoogleUrl" target="_blank">Add to Google Calendar</a></li>
                    </ul>
                </div>*@
            <p>Check back here to watch &amp; ask questions then!</p>
        }
        else
        {
            <h2>Streaming Live Every Tuesday &amp; Thursday</h2>
            <p>Alternating between 10:00 AM and 3:45 PM Pacific Time, week to week.</p>
            <p>Check back here to watch &amp; ask questions then!</p>
        }
    </div>
</div>

<div class="row">
    @foreach (var show in Model.Shows)
    {

        @if (show.IsOnAir)
        {
            continue;
        }

        <div class="col-sm-6 col-md-4">
            <div class="card shadow youtube-show bottom-buffer">
                <a href="@Model.Url" title="Watch this episode">
                    <div>
                        <img src="@show.ThumbnailUrl" class="card-img-top" alt="@show.Title">
                    </div>
                </a>
                @if (show.IsNew)
                {
                    <span class="badge badge-pill p-2 pr-3 pl-3 badge-success top-right">New</span>
                }
                else if (show.IsInFuture)
                {
                    <span class="badge badge-pill p-2 pr-3 pl-3 badge-info top-right">Upcoming</span>
                }


                <div class="card-body">

                    @if (!string.IsNullOrEmpty(show.Category))
                    {
                        <p><span class="badge badge-pill p-2 pr-3 pl-3 badge-primary">@show.Category</span></p>
                    }

                    <p><h5 class="card-title">@show.DisplayTitle</h5></p>
                    <a href="@show.Url" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted text-center">
                    @show.ScheduledStartTimeHumanized
                </div>
            </div>
        </div>
    }
</div>


@if (Model.HasUpcomingShow)
{
    <script src="~/js/home.js"></script>
    <script>
        (function () {
            window.siteJs.setNextShowDetails("nextShowDetails");
        })();
    </script>
}
<script src="https://apis.google.com/js/platform.js"></script>

<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-auto">
            <div class="g-ytsubscribe" data-channelid="UCiaZbznpWV1o-KLxj8zqR6A" data-layout="full" data-count="default"></div>
        </div>
        <div class="col-auto">
            <a href="https://twitch.tv/VisualStudio"><img height="30" src="~/images/twitch.svg" /></a>
        </div>
    </div>
</div>