@page
@model IndexModel
@{
    ViewData["Title"] = ".NET Community Standups";
}


<div class="jumbotron">
    <div class="next-episode text-center">
        @if (Model.IsOnAir)
        {
            <h2>@Model.OnAirShow.Category Live Standup</h2>

            @if (Model.OnAirShow.HasDisplayTitle)
            {
                <h3>Topic: @Model.OnAirShow.DisplayTitle</h3>
            }
            <div class="container-fluid">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" src="@($"https://www.youtube-nocookie.com/embed/{Model.OnAirShow.Id}?autoplay=1")" allowfullscreen></iframe>
                </div>

                <div class="container">
                    <div class="row justify-content-md-center align-items-center">
                        <span class="m-2">
                            Chat on:
                        </span>
                        <span class="m-2">
                            <a href="@($"https://www.youtube.com/watch?v={Model.OnAirShow.Id}")">
                                <i class="fab fa-3x fa-youtube"></i>
                            </a>
                        </span>
                        <span class="m-2">
                            <a href="https://twitch.tv/VisualStudio">
                                <i class="fab fa-3x fa-twitch"></i>
                            </a>
                        </span>
                        <span class="m-2">
                            <a href="https://mixer.com/visualstudio">
                                <img src="~/assets/standup/images/MixerMerge_Light.svg" height="50" asp-append-version="true" />
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        }
        else if (Model.HasUpcomingShow)
        {
            var startTime = Model.UpcomingShow.ScheduledStartTime.Value;

            <div id="nextShowDetails"
                 data-utc-year="@startTime.Year"
                 data-utc-month="@(startTime.Month-1)"
                 data-utc-day="@startTime.Day"
                 data-utc-hour="@startTime.Hour"
                 data-utc-min="@startTime.Minute">


                <h2>Next @Model.UpcomingShow.Category Live Standup</h2>

                @if (Model.UpcomingShow.HasDisplayTitle)
                {
                    <h3>Topic: @Model.UpcomingShow.DisplayTitle</h3>
                }

                <hr>
                <h3>
                    <strong data-part="showTime" class="hidden">
                        @startTime.ToString("u")
                    </strong>
                </h3>
                <h3>
                    <span data-part="countdown">&nbsp;</span>
                </h3>

            </div>

            <hr>

            <p>Check back here to watch &amp; ask questions then!</p>
        }
        else
        {
            <h2>Streaming Live Every Tuesday &amp; Thursday</h2>
            <p>Alternating between 10:00 AM and 3:45 PM Pacific Time, week to week.</p>
            <p>Check back here to watch &amp; ask questions then!</p>
        }
    </div>
</div>

<div class="card-deck grid-deck">
    @foreach (var show in Model.Shows)
    {

        @if (show.IsOnAir)
        {
            continue;
        }

        <div class="card shadow youtube-show">
            <a href="@show.Url" target="_blank" title="Watch this episode">
                <div>
                    <img src="@show.ThumbnailUrl" class="card-img-top" alt="@show.Title" asp-append-version="true">
                </div>
            </a>
            @if (show.IsNew)
            {
                <span class="badge badge-pill p-2 pr-3 pl-3 badge-success top-right">New</span>
            }
            else if (show.IsInFuture)
            {
                <span class="badge badge-pill p-2 pr-3 pl-3 badge-info top-right">Upcoming</span>
            }


            <div class="card-body">

                @if (!string.IsNullOrEmpty(show.Category))
                {
                    <p><span class="badge badge-pill p-2 pr-3 pl-3 badge-primary">@show.Category</span></p>
                }

                <h5 class="card-title">@show.DisplayTitle</h5>
                @if (show.HasLinks)
                {
                    <a class="btn btn-outline-secondary btn-sm float-right" href="@show.CommunityLinksUrl" target="_blank">Community Links</a>
                }
            </div>
            <div class="card-footer text-muted text-center">
                @show.ScheduledStartTimeHumanized
            </div>
        </div>
    }
</div>


@if (Model.HasUpcomingShow)
{
    @section Scripts {
        <script src="~/assets/standup/js/home.js"></script>
        <script>
            (function () {
                window.siteJs.setNextShowDetails("nextShowDetails");
            })();
        </script>
    }
}
<script src="https://apis.google.com/js/platform.js"></script>

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="@Model.MoreShowsUrl" class="btn btn-primary">See More Episodes</a>
        </div>
    </div>
    <br />
    <div class="row justify-content-md-center align-items-center">
        <div class="col-auto">
            <div class="g-ytsubscribe" data-channelid="UCiaZbznpWV1o-KLxj8zqR6A" data-layout="full" data-count="default"></div>
        </div>
        <div class="col-auto">
            <a href="https://twitch.tv/VisualStudio"><img height="30" src="~/assets/standup/images/twitch.svg" asp-append-version="true" /></a>
        </div>
        <div class="col-auto">
            <a href="https://mixer.com/VisualStudio"><img height="30" src="~/assets/standup/images/MixerLogo_Light.svg" asp-append-version="true" /></a>
        </div>
    </div>
</div>
