@page
@model IndexModel
@{
    ViewData["Title"] = ".NET Community Standups";
}

<div class="text-center">

</div>


<div class="row">
    @foreach (var show in Model.Shows)
    {
        <div class="col-md-4">
            <div class="card m-2 shadow" style="width:18rem;">
                <img src="@show.ThumbnailUrl" class="card-img-top" alt="...">
                @if (show.IsNew)
                {
                    <span class="badge badge-pill p-2 pr-3 pl-3 badge-success top-right">New</span>
                }
                else if (show.IsInFuture)
                {
                    <span class="badge badge-pill p-2 pr-3 pl-3 badge-info top-right">Upcoming: @show.ScheduledStartTime.ToLocalTime().ToShortDateString()</span>
                }
                else if (show.IsOnAir)
                {
                    <span class="badge badge-pill p-2 pr-3 pl-3 badge-danger top-right">Live</span>
                }

                <div class="card-body">

                    @if (!string.IsNullOrEmpty(show.Category))
                    {
                        <span class="badge badge-pill p-2 pr-3 pl-3 badge-primary">@show.Category</span>
                    }

                    <h5 class="card-title">@show.DisplayTitle</h5>
                    <a href="@show.Url" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
 </div>
